@import "tailwindcss";

@theme{
    --color-footer: #242038;
    --breakpoint-sm: 600px;
    --breakpoint-md: 1000px;
    --breakpoint-lg: 1250px;
    --breakpoint-xl: 1500px;
    --breakpoint-fat:  750px;
  }

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}